/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px ;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/*----------------- header styles---------------- */
.header{
    height:94px;;
    width:1440px;
    display:flex;
    background-color:  #562EFF;
    justify-content: space-around;
}
.header>div{
    display:flex;
}
.header nav{
    display: flex;
    gap:25px;
    

}
.header nav a{
    text-decoration: none;
}
.header nav li{
    list-style: none;
}
/* -------------top player style---------------- */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    margin-top:3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    
}
.player{
    display: flex;
    gap:4px;
    align-items: center;
}
.player img{
    height:56px;
    width: 56px;
}
.player-name{
    margin-left:16px;
    font-size:18px;
}
/* ----------------Top blog styles------------------- */
.blogs{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}
.blog{
    display:flex;
    
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left:16px;

}
.blog-title{
    font-size:20px;
    margin-bottom: 1px;
}
.blog-author{
    color:#9F9F9F;
    font-size:16px;
    position:relative;
    bottom:15px;
}
.blog-author a{
    text-decoration: none;
    font-size:16px;
    color:#562EFF;
}
/* --------------------Course Styles------------- */
.courses{
    display: flex;
    gap:24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-author{
    color:#ED6B4F;
    font-weight: 400;
    font-size: 14.6913px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color:#AEAEAE;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}.course-duration{
    color:#FF4A60;
    background-color: #FFE4E8;
    border-radius: 14.6913px;
}
